<div class='card' data-movieID={{movieID}}>

  <div class='card__pic'>
    <img class='card-img' src={{imgUrl}} alt='card pic' />
  </div>
  <div class='card__capture'>
    <h3 class='card__title'>
      {{filmTitle}}
    </h3>
    <p class='card__genre'>
      <span>{{filmGenre}}</span>
      |
      <span>{{filmYear}}</span>
      <span class='highlighted'>{{Vote}}</span>
    </p>
  </div>

</div>